<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Seçenekler</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div class="sidemenu-top-close">
        <div class="sidemenu-top"></div>
      </div>
      <ion-item-divider>
        <ion-label>
          İşletme işlemleri
        </ion-label>
      </ion-item-divider>
        <ion-list class="animated fadeInLeft">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item no-lines [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon" color="primary"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <ion-item-divider>
          <ion-label>
            Hayvan işlemleri
          </ion-label>
        </ion-item-divider>
        <ion-list class="animated fadeInLeft">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPagesTwo">
            <ion-item no-lines [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon" color="primary"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <ion-item-divider>
          <ion-label>
            Diğer
          </ion-label>
        </ion-item-divider>
        <ion-list class="animated fadeInLeft">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPagesThree">
            <ion-item no-lines [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon" color="primary"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
