<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Kullanım Kılavuzu
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="div-content">
<div class="row">
  <div class="col">
    <div class="tabs">
      <div class="tab">
        <input type="checkbox" id="chck1">
        <label class="tab-label" for="chck1">Tohum Takvimi Nedir ?</label>
        <div class="tab-content">
          Tohum takvimi; hayvancılığın yükünü hafifletmek için tasarlanmış bir uygulamadır.Uygulamada hayvanlarınızın tohumlama takibini yapabilir, tohumlama vaktini ayarlayıp hatırlatıcı oluşturabilirsiniz. 
        </div>
      </div>
      <div class="tab">
        <input type="checkbox" id="chck2">
        <label class="tab-label" for="chck2">Hayvan ekleme kriterleri</label>
        <div class="tab-content">
         Hayvan eklenirken, büyükbaş veya küçükbaş farketmeksizin, istediğiniz hayvanın bilgisini ekleyebilir ve takip edebilirsiniz. Küpe numarası ve bitiş tarihi bölümünü boş bırakmadığınız taktirde hayvan ekleyebilirsiniz.
        </div>
      </div>
      <div class="tab">
        <input type="checkbox" id="chck3">
        <label class="tab-label" for="chck3">Bildirim zamanları</label>
        <div class="tab-content">
          Küpe numarası tarihinden itibaren bitiş tarihine son 3 gün kala bildirimler gelir. Amaç hatırlatıcı niteliği taşımasıdır.
        </div>
      </div>
      <div class="tab">
        <input type="checkbox" id="chck4">
        <label class="tab-label" for="chck4">Hayvanlarımı nasıl arayacağım ?</label>
        <div class="tab-content">
          Hayvanlarınızı küpe numarasına göre arayabilirsiniz.
        </div>
      </div>
      <div class="tab">
        <input type="checkbox" id="chck5">
        <label class="tab-label" for="chck5">Tüm hakları saklıdır.</label>
        <div class="tab-content">
          Bu uygulamanın kullanım ve yayım hakkı MonoWare Software & Electronic şirketine aittir. İzinsiz dağıtımı, kopyalanması veya çoğaltılması yasaktır.
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div style="margin-top: 20px; text-align: center;"><span style="color: red;">MonoWare</span>&nbsp;Software & Electronic</div>
</ion-content>
