<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Tartım Listesi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container" class="animCard" *ngFor="let user of dataVar">
    <div class="row">
      <div class="col-md-4">
        <div class="card card-1">
          <p style="color:white; font-size: medium;">Hayvanın kilosu : <span>&nbsp;&nbsp;{{user.KG}}</span></p>
          <p style="color:white; font-size: medium;">Not :<span>&nbsp;&nbsp;{{user.NOT_ICERIK}}</span></p>
          <p style="color:white; font-size: medium;">Tartım Tarihi : <span>&nbsp;&nbsp;{{user.TARTIM_TARIHI}}</span></p>
          <div style="padding-left:5%; padding-right:10px; margin-top: 40px; margin-bottom: 40px;">
            <ion-button shape="round" fill="outline" color="secondary" expand="full" (click)="hastalikSil(user.ID)">
              <ion-icon slot="start" name="trash"></ion-icon>Sil
            </ion-button>
          </div>
          <div style="padding-left:5%; padding-right:10px; margin-top: 40px; margin-bottom: 40px;">
            <ion-button shape="round" fill="outline" color="secondary" expand="full" (click)="bilgiDuzenle(user.ID)">
              <ion-icon slot="start" name="settings"></ion-icon>Bilgileri Düzenle
            </ion-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>